/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

body {
  background-color: #f8f8f8;
  color: #333333;
  font-size: 18px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

header {
  margin-top: 20px;
  width: 100%;
  text-align: left; /* Alinea el header a la izquierda */
  padding-left: 80px;

}

/* Estilos para el header */
header h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333333;

}

/* Estilos para el main */
main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
}

.scarecrow {
  flex: 1;
  display: flex;
  justify-content: center;
}

.scarecrow img {
  width: 100%;
  max-width: 600px;
}

.message {
  flex: 1;
  max-width: 500px;
  text-align: left;
  padding-left: 20px;
}

.message h2 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333333;
}


/*corregir */
.message p {
  font-size: 24px;
  margin-bottom: 40px;
  color: #4F4F4F;
}

.button {
  padding: 15px 30px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  border-radius: 0px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #555;
}

/* Estilos para el footer */
footer {
  margin-top: 20px;
  text-align: center;
}

footer p {
  font-size: 14px;
  color: #4F4F4F;
}

footer span {
  font-weight: bold;
}

/* Estilos responsivos para dispositivos móviles */
@media (max-width: 768px) {
  main {
      flex-direction: column;
  }

  .scarecrow img {
      max-width: 100%;
      margin-bottom: 20px;
  }

  .message {
      text-align: center;
      padding-left: 0;
  }

  .message h2 {
      font-size: 36px;
  }

  .message p {
      font-size: 18px;
  }

  .button {
    padding: 15px 30px;

}
}
